# Y700 local SSH server
# Designed for changing Wi-Fi / phone-hotspot networks.
Port 2222
AddressFamily inet
ListenAddress 0.0.0.0

HostKey /etc/ssh/ssh_host_ed25519_key
HostKey /etc/ssh/ssh_host_ecdsa_key
PidFile /run/sshd-y700.pid

PermitRootLogin prohibit-password
PubkeyAuthentication yes
AuthenticationMethods publickey
AuthorizedKeysFile /root/.ssh/authorized_keys
PasswordAuthentication no
KbdInteractiveAuthentication no
PermitEmptyPasswords no
UsePAM no
StrictModes yes
AllowUsers root

LoginGraceTime 30
MaxAuthTries 3
MaxSessions 4
ClientAliveInterval 60
ClientAliveCountMax 3
TCPKeepAlive yes
UseDNS no

X11Forwarding no
AllowAgentForwarding no
AllowTcpForwarding no
GatewayPorts no
PermitTunnel no
PermitUserEnvironment no

Subsystem sftp internal-sftp
